# Ignore all.
*

# Unignore all with extensions.
!*.*

# Unignore all dirs.
!*/

# Unignore all Makefiles.
!Makefile

# Ignore all object files
*.o

# Ignore all temporary/swap files.
*.swp

# Ignore all byte-code files.
*.class

# Ignore all miscellaneous files and directories.
.vscode/
.DS_Store

# Ignore large files.
SCC.txt
algo1-programming_prob-2sum.txt

# Temporarily don't include deterministic selection
deterministic_selection/

